<div class="page">
  <h1>Classes</h1>
  
  <a class="btn btn-primary">Add New Class</a>
  
  {{#if classes}}
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Class Name</th>
          <th>Schedule Time</th>
          <th>Room</th>
          <th>Capacity</th>
          <th>Trainer ID</th>
          <th>Equipment ID</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each classes}}
          <tr>
            <td>{{this.classID}}</td>
            <td>{{this.className}}</td>
            <td>{{this.scheduleTime}}</td>
            <td>{{this.roomNumber}}</td>
            <td>{{this.capacity}}</td>
            <td>{{this.trainerID}}</td>
            <td>{{this.equipmentID}}</td>
            <td>
              <a class="btn btn-small btn-edit">Edit</a>
              <form style="display:inline;">
                <button type="submit" class="btn btn-small btn-delete" onclick="return confirm('Are you sure?')">Delete</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No classes found. <a>Add a new class</a></p>
  {{/if}}
</div>

