<div class="page">
  <h1>Equipment Inventory</h1>
  
  <a class="btn btn-primary">Add New Equipment</a>
  
  {{#if equipment}}
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Category</th>
          <th>Condition</th>
          <th>Maintenance Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each equipment}}
          <tr>
            <td>{{this.equipmentID}}</td>
            <td>{{this.equipmentName}}</td>
            <td>{{this.category}}</td>
            <td>{{this.condition}}</td>
            <td>{{this.maintenanceDate}}</td>
            <td>
              <a class="btn btn-small btn-edit">Edit</a>
              <form style="display:inline;">
                <button type="submit" class="btn btn-small btn-delete" onclick="return confirm('Are you sure?')">Delete</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No equipment found. <a>Add some equipment</a></p>
  {{/if}}
</div>
