<div class="page">
  <h1>Class Registrations</h1>
  
  <a href="/classregistrations/add" class="btn btn-primary">New Registration</a>
  
  {{#if classRegistrations}}
    <table class="table">
      <thead>
        <tr>
          <th>Reg ID</th>
          <th>Member ID</th>
          <th>Class ID</th>
          <th>Registration Date</th>
          <th>Class Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each classRegistrations}}
          <tr>
            <td>{{this.classregID}}</td>
            <td>{{this.memberID}}</td>
            <td>{{this.classID}}</td>
            <td>{{this.registrationDate}}</td>
            <td>{{this.classType}}</td>
            <td>
              <a href="/classregistrations/edit/{{this.classregID}}" class="btn btn-small btn-edit">Edit</a>
              <form method="POST" action="/classregistrations/delete/{{this.classregID}}" style="display:inline;">
                <button type="submit" class="btn btn-small btn-delete" onclick="return confirm('Are you sure?')">Delete</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>No class registrations found. <a href="/classregistrations/add">Add new class registration</a></p>
  {{/if}}
</div>


